* ,body{
    margin: 0%;
    padding: auto;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    /* display: inline-block; */

    background-color: skyblue;
    padding: 0.4rem 0.8rem;
    color: snow;
    border-radius: 10px;
    text-decoration: solid;
}
a:active{
    color: black;
    background-color: aquamarine;
}
canvas{
    border: black 2px dashed;
    height: 30em;
}
#refresh-button{
    background: rgb(214, 1, 1);
    border-radius: 10px;
    padding: 0.4rem 0.8rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

#refresh-button:active{
    background: rgb(211, 89, 89);
    color: rgb(66, 66, 66);
}

.description-paragraphe{
    margin: 1rem;
    text-align: center;
}
.options{
    margin-left: 15%;
    width: 70%;
    display: flex;
    justify-content: space-around;
}
.color-group{
    display: flex;
}
.pin-size{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.color-choice{
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    border: black 1px solid;
    margin:0px 0.3em;
}
.active{
    transform: scale(1.3);
}
.color-choice:nth-child(1){
    background:hotpink;
}
.color-choice:nth-child(2){
    background:orange;
}
.color-choice:nth-child(3){
    background:red;
}
.color-choice:nth-child(4){
    background:yellow;
}
.color-choice:nth-child(5){
    background:black;
}
.color-choice:nth-child(6){
    background:blue;
}
.color-choice:nth-child(7){
    background:white;
}
.color-choice:nth-child(8){
    background:green;
}
.drawing-canvas{
    display: flex;
    margin: 2em;
    justify-content: center;
}
